:root {
  --elements-margin: 5%;
  --ui-vertical-gap: 1vh;
}

#simulation-container {
  height: var(--main-content-height);
  width: 75vw;
  padding: 1em;
}
.canvas-container {
  width: 100%;
  height: 70%;
}
#renderCanvas {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border-radius: 0.9em 0.9em 0 0;
  background-color: #000;
}
#ui {
  display: grid;
  grid-template-columns: 1fr 1.25fr 1.25fr;
  align-items: center;
  gap: 0.5em;
  overflow: hidden;
  width: 100%;
  height: 30%;
  padding: 1em;
  border-radius: 0 0 0.9em 0.9em;
  background-color: #000;
}
.output-value {
  display: grid;
  grid-template-columns: 37% 40% 23%;
  align-items: center;
  gap: 0.5em;
  color: var(--main-color);
}
.output-value :nth-child(2) {
  text-align: center;
  padding: 0.3em 0;
  border-radius: 0.25em;
  line-height: 1;
  color: var(--dark-color);
  background-color: var(--main-color);
}
.ui-btns-container {
  display: flex;
  grid-column: span 2 / 4;
  margin-left: auto;
  gap: 0.5em;
}
#fullscreen-btn {
  background-color: var(--main-hover-color);
}
#fullscreen-btn:hover {
  background-color: #0356ef;
}
/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<< SLider styles >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
.slider-container {
  display: flex;
  align-items: center;
  grid-column: span 2 / 4;
  gap: 0.5em;
  color: var(--main-color);
}
input[type=range] {
  -webkit-appearance: none;
  flex-grow: 1;
  margin: 0.75em 0;
  width: 100%;
  background-color: transparent;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  transition: 0.2s;
  background-color: var(--main-hover-color);
  border-radius: 25px;
}
input[type=range]::-webkit-slider-thumb {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #fff;
  box-shadow: 0 0 4px 0 #505050;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -8px;
}
input[type="range"]:focus::-webkit-slider-thumb {
  box-shadow: 0 0 5px 0 #fff;
}
/* firefox */
input[type=range]::-moz-range-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  transition: 0.2s;
  background-color: var(--main-hover-color);
  border-radius: 25px;
}
input[type=range]::-moz-range-thumb {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #fff;
  box-shadow: 0 0 4px 0 #505050;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -8px;
}
input[type="range"]:focus::-moz-range-thumb {
  box-shadow: 0 0 5px 0 #fff;
}
.equation {
  white-space: nowrap;
  font-weight: bold;
}
/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<< Media Queries >>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
@media screen and (max-width: 60.75rem) {
  #simulation-container {
    font-size: 0.9em;
  }
  #ui {
    grid-template-columns: 1.5fr 1.25fr 1.25fr;
  }
}
@media screen and (max-width: 46.25rem) {
  #simulation-container {
    height: 75vh;
    width: 100vw;
    padding: 1em;
  }
  .canvas-container {
    height: 50%;
  }
  #ui {
    height: 50%;
  }
  .output-value {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 0.5em;
  }
  .output-value :first-child {
    width: 100%;
    grid-column: span 2
  }
}